alabaster==0.7.6
algopy==0.5.3
atom==0.3.10
Babel==2.0
backports.functools-lru-cache==1.4
backports.weakref==1.0.post1
BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
bleach==1.5.0
caniusepython3==5.0.0
casuarius==1.1
certifi==2017.7.27.1
cffi==1.2.1
chardet==3.0.4
coursera==0.5.2
coverage==4.2
cryptography==1.0
cycler==0.10.0
Cython==0.22.1
decorator==4.1.2
dill==0.2.6
dipy==0.11.0
distlib==0.2.5
docutils==0.12
easygui==0.98.0
ecdsa==0.13
-e git+https://github.com/nucleic/enaml.git@be54b6f5efbe5b0dfc471f77418c91cc8114d025#egg=enaml
enum34==1.1.6
et-xmlfile==1.0.1
fasteners==0.14.1
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
futures==3.1.1
Growl==0.7.1
h5py==2.6.0
html5lib==0.9999999
idna==2.6
ipaddress==1.0.14
-e git+git@gitlab.com:robb-brown/jargon.git@707e4cbf0ba90c1f9bf8e4e1e9a594d4595f70bc#egg=jargon
jdcal==1.3
Jinja2==2.8
Keras==1.0.3
keyring==9.0
kiwisolver==0.1.3
Lasagne==0.2.dev1
lxml==3.8.0
Markdown==2.6.9
MarkupSafe==0.23
matplotlib==2.0.2
mock==2.0.0
monotonic==1.4
mpmath==0.19
multiprocess==0.70.5
MySQL-python==1.2.5
mysql-utilities==1.5.5
networkx==2.0
-e git+/Users/robb/Dropbox/git/lingo.git@6b3cb9126695c7c7f876f464e8008c04e23678e0#egg=newmodel&subdirectory=model/NewModel
nibabel==2.1.0
nine==1.0.0
nipy==0.4.0
nose==1.3.7
numdifftools==0.9.12
numpy==1.13.3
numpy-stl==2.3.2
numpydoc==0.5
openpyxl==2.4.0
packaging==16.8
pandas==0.20.3
pandas-qt==0.2.0
paramiko==1.16.0
patsy==0.4.1
pbr==3.1.1
pexpect==3.3
Pillow==3.0.0
ply==3.10
protobuf==3.4.0
pudb==2016.2
py==1.4.31
pyasn1==0.1.8
pycparser==2.14
pycrypto==2.6.1
pydicom==0.9.9
PyEVTK==1.0.0
Pygments==2.1.3
PyInstaller==3.2.1
-e git+git@github.com:robb-brown/pyMinc.git@6f115fe4c8da48d57913ac6b05f843f88e7d7816#egg=pyMinc
pymongo==3.3.1
PyMySQL==0.6.6
pynetdicom==0.8.1
pynrrd==0.2.1
pyOpenSSL==0.15.1
pyparsing==2.2.0
pyquil==1.1.1
Pyro4==4.38
pytest==3.0.4
pytest-cov==2.4.0
pytest-qt==1.2.2
python-dateutil==2.6.1
python-docx==0.8.6
python-magic==0.4.6
python-utils==2.2.0
pytz==2017.2
PyVTK==0.5.18
PyYAML==3.11
QtPy==1.2.1
requests==2.18.4
rpy2==2.7.7
scikit-learn==0.18.1
scipy==0.19.1
seaborn==0.7.0
serpent==1.11
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
snowballstemmer==1.2.0
Sphinx==1.3.1
sphinx-rtd-theme==0.1.9
SQLAlchemy==1.1.7
sshtunnel==0.0.6
statsmodels==0.6.1
stl==0.0.3
subprocess32==3.2.7
sympy==1.0
tensorflow==1.4.0rc1
tensorflow-tensorboard==0.4.0rc1
-e git+git@github.com:robb-brown/IntroToDeepLearning.git@88212fe0647c09f7c6d39e0d087f0510cc5c96ef#egg=tfs&subdirectory=tfs
Theano==0.9.0
tinydb==3.6.0
tinydb-serialization==1.0.4
tinymongo==0.2.0
tqdm==4.19.4
treeinterpreter==0.2.1
urllib3==1.22
urwid==1.3.1
vboxapi==1.0
virtualenv==15.1.0
web.py==0.37
Werkzeug==0.12.2
xlrd==1.0.0
